.services{
	background: linear-gradient(180deg, #0c0c1d, #111132);
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.services-text-container{
	flex: 0.5;
	align-self: flex-end;
	display: flex;
	align-items: center;
	gap: 20px;
	padding-top: 13px;
}
.services-text-container>hr{
	width: 350px;
	border: none;
	border-top: solid 0.5px grey;
}
.services-text-container>p{
	font-weight: 400;
	font-size: 15px;
	color: grey;
	text-align: right;
}


.services-title{
	flex: 1.5;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/* gap: 30px; */
}
.services-title>.title{
	display: flex;
	align-items: center;
	gap: 50px;
}
.services-title>.title>h1{
	font-size: 36px;
	font-weight: 100;
}
.services-title>.title>button{
	width: 170px;
	height: 67px;
	border-radius: 50px;
	background-color: orange;
	border: none;
	font-size: 17px;
	font-weight: 700;
	cursor: pointer;
}
.services-title>.title>img{
	width: 300px;
	height: 115px;
	border: none;
	border-radius: 50px;
	object-fit: fill;
	object-position: center;
}
.services-list{
	flex: 2;
	list-style-type: none;
	display: flex;
	max-width: 1080px;
	margin: auto;
}
.services-list>.box{
	padding: 20px;
	border: 0.5px solid gray;
}