.navbar{
	height: 10vh;
}

.wrapper{
	height: 100%;
	max-width: 1080px;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;

}

.wrapper>span{
	font-weight: bold;
}

.wrapper>.social{
	display: flex;
	gap: 20px;
	list-style-type: none;
}